<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <ion-item button lines="none">
      <ion-avatar slot="start" class="dark">
        <img src="" alt="Foto">
      </ion-avatar>
      <ion-label>
        Arthur
        <p>Grade 11</p>
      </ion-label>
    </ion-item>

    <h4 class="p-4">Achievements</h4>

    <!--Card Notificação 01-->
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="dark">
        <img src="../../assets/icon/clock.svg" alt="01">
      </ion-avatar>
      <ion-label>
        Punctual
        <p>You have not missed a single lesson</p>
      </ion-label>
    </ion-item>

    <!--Card Notificação 02-->
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="dark">
        <img src="../../assets/icon/star.svg" alt="01">
      </ion-avatar>
      <ion-label>
        Excellent Presentation
        <p>You have done great presentation</p>
      </ion-label>
    </ion-item>

    <!--Card Notificação 03-->
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="dark">
        <img src="../../assets/icon/profits.svg" alt="01">
      </ion-avatar>
      <ion-label>
        Growing
        <p>You have being growing quickly</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
